snippet head "heading" b
---
lang: ${1:en-UK}
title: ${2:title}
subtitle: ${3: subtitle}
author: ${4: author}
date: `date +"%d/%m/%Y"`
abstract: ${5: abstract}

documentclass: ${6: report}
toc: ${7: true}
---
endsnippet
